img {
  width: 100%;
}
a {
  text-decoration: none;
}

body {
  background: url("../images/bg.png");
  background-repeat: repeat-x;
  color: #ed247d !important;
}

.font-cake {
  color: #ed247d;
  font-family: font-cake;
}

.font-cooper {
  font-family: cooper;
}

.cake-img img {
  width: 40%;
}

.header-table {
  background: #f59cab;
  font-size: 30px;
}

.d-flex-cake {
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.d-flex-cake img {
  margin-bottom: 30px;
}

.title {
  font-size: 75px;
}

.card {
  background: #f496bf;
}

.video {
  width: 100%;
  height: 400px;
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  background-color: #000;
  align-items: center;
}

.video video {
  width: 100%;
}

.footer img {
  width: 60px;
}

.logo {
  width: 30%;
}

.card-content {
  min-height: 350px;
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: center;
}

@media (max-width: 970px) {
  .video {
    height: unset;
  }
  .mt-2-mb {
    margin-top: 2em;
  }
  .title {
    font-size: 60px;
  }

  .title-2 {
    font-size: 40px !important;
  }
  .d-flex-cake img {
    transform: scale(1.5) translateY(0.5em);
  }
  .card-content {
    min-height: 270px;
  }

  .font-size-m-20 {
    font-size: 20px !important;
  }

  .footer img {
    width: 40px;
  }
}
